package templates

templ Body(content templ.Component) {
    <link rel="stylesheet" href="/static/css/markdown.css" />
    <body> 
        <div class="column">
            <div class="content">
                @content
            </div>
        </div>
    </body>
}

templ RawBody(content string) {
    @Body(templ.Raw(content))
}