package templates

import "fmt"

templ ErrorPage(code int, message string) {
    @Body(Error(code, message))
}

templ Error(code int, message string) {
    <div class="error">{fmt.Sprintf("Error %d: %s", code, message)}</div>
}
